language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

sudo: false

install:
  - composer install --no-interaction
  
script:
  - vendor/bin/phpunit --coverage-text
  - php examples/13-benchmark-throughput.php
